---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import Sketch from "../sketchs/sketch_1/Sketch.astro";
function parseDate(dateString) {
  const [day, month, year] = dateString.split("-");
  return new Date(`${year}-${month}-${day}`); // Convert to YYYY-MM-DD format
}

const blog = (await getCollection("blog"))
  .map((post) => ({
    ...post,
    data: {
      ...post.data,
      pubDate: parseDate(post.data.pubDate), // Parse string to Date
    },
  }))
  .sort((a, b) => b.data.pubDate - a.data.pubDate);

const pageTitle = "Millán Castro - Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container px-3">
    <h1
      class="lg:border-b border-secondary dark:border-darkSecondary mt-9 mb-5"
    >
      Artículos
    </h1>
    <ul>
      {
        blog.map((post) => (
          <BlogPost
            url={`/blog/${post.slug}/`}
            title={post.data.title}
            date={post.data.pubDate}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
